// media quires
$sm: 36rem;
$md: 48rem;
$lg: 62rem;
$xl: 80rem;

@mixin media($breakpoint) {
    @if $breakpoint == all {
        @media screen {
            @content;
        }
    }

    @else if $breakpoint != all {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}

// Colors
$black: #2c3e50;
$gray: #ced4da;
$opGray: rgba(241, 246, 250, 0.5);
$white: #ffffff;
$lBlack: #4F6173;
$green: #42b983;

// Fonts
@import "fonts";

// Mixins
@mixin content {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    @include media($md) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    @include media($xl) {
        padding-left: calc(50% - 36rem);
        padding-right: calc(50% - 36rem);
    }
}

@mixin css_anim($time: .2s, $item: all, $style: ease) {
    transition: $item $style $time;

    &:hover {
        transition: $item $style $time;
    }
}

.vue-anim {
    &-fade-enter-active {
        @include css_anim;
    }

    &-fade-leave-active {
        transition: none;
    }
}

@mixin empty-block($width, $height: $width, $display: block) {
    content: '';
    display: $display;
    width: $width;
    height: $height;
}

@mixin back-img($size: cover, $posX: center, $posY: center, $repeat: no-repeat) {
    background-size: $size;
    background-position-x: $posX;
    background-position-y: $posY;
    background-repeat: $repeat;
}

@mixin btn() {
    @include css_anim();

    color: $white;
    align-items: center;
    display: inline-flex;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    justify-content: center;
    background-color: $black;

    &:hover {
        background-color: $lBlack;
        color: $white;
    }
}
